<div class="container mt-4">

<h3>Staff Dashboard</h3>

<form method="GET" class="row g-2 mb-4">

<div class="col-md-3">
<select name="dept" class="form-control" required>
<option value="">Select Dept</option>
<option value="AI&DS">AI&DS</option>
<option value="CSE">CSE</option>
<option value="IT">IT</option>
<option value="MECH">MECH</option>
</select>
</div>

<div class="col-md-2">
<select name="year" class="form-control" required>
<option value="">Year</option>
<option value="1">I</option>
<option value="2">II</option>
<option value="3">III</option>
<option value="4">IV</option>
</select>
</div>

<div class="col-md-2">
<button class="btn btn-primary">Load</button>
</div>

</form>

{% if dept and year %}

<div class="row">

<div class="col-md-6">
<h5>Today's Absentees ({{period}})</h5>
<ul class="list-group">
{% for s in today_absentees %}
<li class="list-group-item">
{{s.student_name}}
</li>
{% endfor %}
</ul>
</div>

<div class="col-md-6">
<h5>Long Absentees (<75%)</h5>
<ul class="list-group">
{% for s in long_absentees %}
<li class="list-group-item">
{{s.student_name}} - {{s.percent}}%
</li>
{% endfor %}
</ul>
</div>

</div>

{% endif %}

</div>